//all background color here ...
$bgColorContainer: #FFF;
$bgColorBody: #eee;
//all about text is here ...
$titleColor: #C42147;
$textColor: gray;
$textAlignCenter: center;
$titleBtnColor: #C42147;
//all about fonts here
$fontSize: 15px;
$fontFamily: Arial,
Helvetica,
sans-serif;
//all about width here 
$MaxWidthContainer: 35%;
$fullWidth: 100%;
//all about padding here 
$zeroPadding: 0px;
//all about margin here
$zeroMargin: 0px;
// all about border here
$secitonBorder: 1px solid #eee;