@import"_variable";
@mixin prefixer($property, $value, $prefixers) {
    @each $prefix in $prefixers {
        #{'-'+$prefix+'-'+$property}: $value;
    }
    #{$property}: $value;
}

* {
    @include prefixer(box-sizing, border-box, webkit moz o ms);
}

html {
    font-size: 75%;
    body {
        //the body block ..
        padding: $zeroPadding;
        margin: $zeroMargin;
        font-family: $fontFamily;
        font-size: $fontSize;
        background-color: $bgColorBody;
        max-width: $fullWidth;
        //the container block ...
        .container {
            max-width: $MaxWidthContainer;
            margin: 4rem auto;
            // this is for the three sections ...
            section {
                border: $secitonBorder;
                background-color: $bgColorWhite;
                border-radius: 1%;
                padding: 1rem;
                margin: 1rem;
            }
            //here for the first section ...
            .section-1 {
                article {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    div:first-child {
                        width: 15%;
                        img {
                            border: 5px solid $textColorSecondLevel;
                            border-radius: 50%;
                            width: 100%;
                        }
                    }
                    div:nth-child(2) {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        color: $textColor;
                        h2 {
                            color: $titleBtnColor;
                            font-size: 40px;
                            width: 100%;
                            text-align: center;
                            margin: 0%
                        }
                        .btn {
                            background-color: $titleBtnColor;
                            width: 30%;
                            text-align: $textAlignCenter;
                            font-weight: bold;
                            color: $bgColorWhite;
                            border: 1px solid $bgColorWhite;
                            border-radius: 5%;
                            &:hover {
                                background-color: $bgColorWhite;
                                width: 30%;
                                text-align: $textAlignCenter;
                                font-weight: bold;
                                color: #f00;
                                cursor: pointer;
                                border: 1px solid #f00;
                                transition: all 1s
                            }
                        }
                    }
                }
            }
            //the second section ...
            .section-2 {
                article {
                    max-width: 60%;
                    margin: auto;
                    div {
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        opacity: 0.5;
                        font-weight: bold;
                        .fa {
                            font-size: 2rem;
                            text-align: $textAlignCenter;
                            text-decoration: none;
                            color: #999;
                            width: 100%;
                        }
                    }
                }
            }
            //the third section ...
            .section-3 {
                article {
                    max-width: ($fullWidth - 20%);
                    margin: auto;
                    text-align: $textAlignCenter;
                    .movies {
                        display: flex;
                        font-family: $fontFamily;
                        color: $textColorSecondLevel;
                        font-weight: 200;
                        font-size: $fontSize;
                        text-align: justify;
                        .photo-film {
                            width: ($fullWidth - 50%);
                            margin-right: 1rem;
                            img {
                                max-width: $fullWidth;
                            }
                        }
                        div:last-child h3 {
                            text-align: $textAlignCenter;
                        }
                    }
                }
            }
        }
    }
}