* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 75%; }
  html body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #eee;
    max-width: 100%; }
    html body .container {
      max-width: 35%;
      margin: 4rem auto; }
      html body .container section {
        border: 1px solid #eee;
        background-color: #fff;
        border-radius: 1%;
        padding: 1rem;
        margin: 1rem; }
      html body .container .section-1 article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        html body .container .section-1 article div:first-child {
          width: 15%; }
          html body .container .section-1 article div:first-child img {
            border: 5px solid #999;
            border-radius: 50%;
            width: 100%; }
        html body .container .section-1 article div:nth-child(2) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          color: gray; }
          html body .container .section-1 article div:nth-child(2) h2 {
            color: #C42147;
            font-size: 40px;
            width: 100%;
            text-align: center;
            margin: 0%; }
          html body .container .section-1 article div:nth-child(2) .btn {
            background-color: #C42147;
            width: 30%;
            text-align: center;
            font-weight: bold;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 5%; }
          html body .container .section-1 article div:nth-child(2) .btn:hover {
            background-color: #fff;
            width: 30%;
            text-align: center;
            font-weight: bold;
            color: #f00;
            cursor: pointer;
            border: 1px solid #f00;
            transition: all 1s; }
      html body .container .section-2 article {
        max-width: 60%;
        margin: auto; }
        html body .container .section-2 article div {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          opacity: 0.5;
          font-weight: bold; }
          html body .container .section-2 article div .fa {
            font-size: 2rem;
            text-align: center;
            text-decoration: none;
            color: #999;
            width: 100%; }
      html body .container .section-3 article {
        max-width: 80%;
        margin: auto;
        text-align: center; }
        html body .container .section-3 article .movies {
          display: flex;
          font-family: Arial, Helvetica, sans-serif;
          color: #999;
          font-weight: 200;
          font-size: 15px;
          text-align: justify; }
          html body .container .section-3 article .movies .photo-film {
            width: 50%;
            margin-right: 1rem; }
            html body .container .section-3 article .movies .photo-film img {
              max-width: 100%; }
          html body .container .section-3 article .movies div:last-child h3 {
            text-align: center; }

/*# sourceMappingURL=style.css.map */
